In [220]:
import numpy as np
import pandas as pd

In [221]:
df = pd.read_csv("players_stats.csv")

In [222]:
df

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,51,137,37.2,15,57,26.3,...,29.0,us,"October 7, 1986",University of Connecticut,5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,344,817,42.1,121,313,38.7,...,30.0,us,"January 14, 1985",University of Oregon,6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,93,208,44.7,13,48,27.1,...,20.0,us,"September 16, 1995",University of Arizona,R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,740,213,91,220,41.4,1,9,11.1,...,24.0,us,"February 19, 1991",Michigan State University,R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,519,965,53.8,11,36,30.6,...,29.0,do,"June 3, 1986",University of Florida,7,205.0,C,ATL,110.25,26.234384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,Xavier Henry,9,86,20,3,13,23.1,0,0,0.0,...,24.0,be,"March 15, 1991",University of Kansas,4,195.0,SF,LAL,99.00,26.035503
486,Zach LaVine,77,1902,778,286,677,42.2,57,167,34.1,...,20.0,us,"March 10, 1995","University of California, Los Angeles",R,192.5,PG,MIN,85.05,22.951594
487,Zach Randolph,71,2304,1143,454,932,48.7,7,20,35.0,...,34.0,us,"July 16, 1981",Michigan State University,13,202.5,PF,MEM,117.00,28.532236
488,Zaza Pachulia,73,1730,606,240,529,45.4,0,3,0.0,...,31.0,ge,"February 10, 1984",NaN,11,207.5,C,MIL,121.50,28.218900
489,Zoran Dragic,16,75,28,11,30,36.7,3,14,21.4,...,26.0,si,"June 22, 1989",NaN,R,192.5,SG,PHO,90.00,24.287401

In [223]:
df.head(10)

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,51,137,37.2,15,57,26.3,...,29.0,us,"October 7, 1986",University of Connecticut,5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,344,817,42.1,121,313,38.7,...,30.0,us,"January 14, 1985",University of Oregon,6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,93,208,44.7,13,48,27.1,...,20.0,us,"September 16, 1995",University of Arizona,R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,740,213,91,220,41.4,1,9,11.1,...,24.0,us,"February 19, 1991",Michigan State University,R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,519,965,53.8,11,36,30.6,...,29.0,do,"June 3, 1986",University of Florida,7,205.0,C,ATL,110.25,26.234384
5,Al Jefferson,65,1992,1082,486,1010,48.1,2,5,40.0,...,30.0,us,"January 4, 1985",NaN,10,205.0,C,CHA,130.05,30.945866
6,Alan Anderson,74,1744,545,195,440,44.3,73,210,34.8,...,33.0,us,"October 16, 1982",Michigan State University,5,195.0,SG,NJN,99.00,26.035503
7,Alec Burks,27,899,374,121,300,40.3,26,68,38.2,...,24.0,us,"July 20, 1991",University of Colorado,3,195.0,SG,UTA,96.30,25.325444
8,Alex Kirk,5,14,4,1,4,25.0,0,0,0.0,...,24.0,us,"November 14, 1991",University of New Mexico,R,210.0,C,CLE,110.25,25.000000
9,Alex Len,69,1518,432,179,353,50.7,1,3,33.3,...,22.0,ua,"June 16, 1993",University of Maryland,1,212.5,C,PHO,117.00,25.910035

In [224]:
df.tail()

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
485,Xavier Henry,9,86,20,3,13,23.1,0,0,0.0,...,24.0,be,"March 15, 1991",University of Kansas,4,195.0,SF,LAL,99.00,26.035503
486,Zach LaVine,77,1902,778,286,677,42.2,57,167,34.1,...,20.0,us,"March 10, 1995","University of California, Los Angeles",R,192.5,PG,MIN,85.05,22.951594
487,Zach Randolph,71,2304,1143,454,932,48.7,7,20,35.0,...,34.0,us,"July 16, 1981",Michigan State University,13,202.5,PF,MEM,117.00,28.532236
488,Zaza Pachulia,73,1730,606,240,529,45.4,0,3,0.0,...,31.0,ge,"February 10, 1984",NaN,11,207.5,C,MIL,121.50,28.218900
489,Zoran Dragic,16,75,28,11,30,36.7,3,14,21.4,...,26.0,si,"June 22, 1989",NaN,R,192.5,SG,PHO,90.00,24.287401

In [225]:
len(df.index)

490

In [226]:
df

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,51,137,37.2,15,57,26.3,...,29.0,us,"October 7, 1986",University of Connecticut,5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,344,817,42.1,121,313,38.7,...,30.0,us,"January 14, 1985",University of Oregon,6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,93,208,44.7,13,48,27.1,...,20.0,us,"September 16, 1995",University of Arizona,R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,740,213,91,220,41.4,1,9,11.1,...,24.0,us,"February 19, 1991",Michigan State University,R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,519,965,53.8,11,36,30.6,...,29.0,do,"June 3, 1986",University of Florida,7,205.0,C,ATL,110.25,26.234384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,Xavier Henry,9,86,20,3,13,23.1,0,0,0.0,...,24.0,be,"March 15, 1991",University of Kansas,4,195.0,SF,LAL,99.00,26.035503
486,Zach LaVine,77,1902,778,286,677,42.2,57,167,34.1,...,20.0,us,"March 10, 1995","University of California, Los Angeles",R,192.5,PG,MIN,85.05,22.951594
487,Zach Randolph,71,2304,1143,454,932,48.7,7,20,35.0,...,34.0,us,"July 16, 1981",Michigan State University,13,202.5,PF,MEM,117.00,28.532236
488,Zaza Pachulia,73,1730,606,240,529,45.4,0,3,0.0,...,31.0,ge,"February 10, 1984",NaN,11,207.5,C,MIL,121.50,28.218900
489,Zoran Dragic,16,75,28,11,30,36.7,3,14,21.4,...,26.0,si,"June 22, 1989",NaN,R,192.5,SG,PHO,90.00,24.287401

In [227]:
df["Games Played"].mean()

53.01428571428571

In [228]:
df["Games Played"].max()

83

In [229]:
df[df["Games Played"]==df["Games Played"].max()]["Name"].iloc[0]

'Josh Smith'

In [230]:
df[(df["Age"] > 25) & (df["Age"] < 30)][["Name","Team","Age"]].sort_values("Team")

                Name Team   Age
4         Al Horford  ATL  29.0
339       Mike Scott  ATL  27.0
270    Kent Bazemore  ATL  26.0
110  DeMarre Carroll  ATL  29.0
215      Jeff Teague  ATL  27.0
..               ...  ...   ...
107     DeJuan Blair  WAS  26.0
277   Kevin Seraphin  WAS  26.0
385   Ramon Sessions  WAS  29.0
457     Toure' Murry  WAS  26.0
152   Garrett Temple  WAS  29.0

[135 rows x 3 columns]

In [231]:
df[df["Name"] == "Alexey Shved"]["Team"].iloc[0]

'NYK'

In [232]:
team = df.groupby("Team").mean()["3PM"]

In [233]:
team.sort_values(ascending = False)

Team
GSW    61.066667
BOS    60.250000
HOU    56.909091
POR    55.000000
ATL    54.266667
CLE    52.583333
LAC    50.928571
DAL    50.400000
NYK    46.250000
CHI    46.071429
TOR    44.357143
IND    44.000000
OKC    43.800000
DEN    43.272727
DET    42.454545
SAS    42.437500
PHO    41.875000
NOH    40.187500
ORL    36.933333
CHA    35.714286
MIL    34.833333
PHI    34.600000
UTA    33.562500
MEM    31.714286
SAC    30.923077
NJN    28.538462
LAL    28.062500
WAS    27.125000
MIA    26.583333
MIN    25.312500
Name: 3PM, dtype: float64

In [234]:
team.count()

30

In [235]:
len(df.groupby("Team"))

30

In [236]:
df["Team"].nunique()

30

In [237]:
df

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,51,137,37.2,15,57,26.3,...,29.0,us,"October 7, 1986",University of Connecticut,5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,344,817,42.1,121,313,38.7,...,30.0,us,"January 14, 1985",University of Oregon,6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,93,208,44.7,13,48,27.1,...,20.0,us,"September 16, 1995",University of Arizona,R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,740,213,91,220,41.4,1,9,11.1,...,24.0,us,"February 19, 1991",Michigan State University,R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,519,965,53.8,11,36,30.6,...,29.0,do,"June 3, 1986",University of Florida,7,205.0,C,ATL,110.25,26.234384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,Xavier Henry,9,86,20,3,13,23.1,0,0,0.0,...,24.0,be,"March 15, 1991",University of Kansas,4,195.0,SF,LAL,99.00,26.035503
486,Zach LaVine,77,1902,778,286,677,42.2,57,167,34.1,...,20.0,us,"March 10, 1995","University of California, Los Angeles",R,192.5,PG,MIN,85.05,22.951594
487,Zach Randolph,71,2304,1143,454,932,48.7,7,20,35.0,...,34.0,us,"July 16, 1981",Michigan State University,13,202.5,PF,MEM,117.00,28.532236
488,Zaza Pachulia,73,1730,606,240,529,45.4,0,3,0.0,...,31.0,ge,"February 10, 1984",NaN,11,207.5,C,MIL,121.50,28.218900
489,Zoran Dragic,16,75,28,11,30,36.7,3,14,21.4,...,26.0,si,"June 22, 1989",NaN,R,192.5,SG,PHO,90.00,24.287401

In [238]:
df["Team"].value_counts()

POR    16
SAS    16
LAL    16
WAS    16
NYK    16
UTA    16
NOH    16
MIN    16
PHO    16
OKC    15
PHI    15
GSW    15
DAL    15
ATL    15
ORL    15
IND    15
MEM    14
CHI    14
TOR    14
LAC    14
CHA    14
NJN    13
SAC    13
MIA    12
CLE    12
MIL    12
HOU    11
DEN    11
DET    11
BOS     8
Name: Team, dtype: int64

In [239]:
df[df["Name"].str.contains("and")]["Name"]

48       Brandan Wright
49         Brandon Bass
50       Brandon Davies
51     Brandon Jennings
52       Brandon Knight
53         Brandon Rush
61          Carl Landry
66     Chandler Parsons
72       Chris Copeland
139         Elton Brand
236       Joel Freeland
259       Julius Randle
295       Landry Fields
298       Larry Sanders
300     Leandro Barbosa
386          Randy Foye
424    Shavlik Randolph
471      Tyson Chandler
473         Vander Blue
484     Wilson Chandler
487       Zach Randolph
Name: Name, dtype: object

In [240]:
df

,Name,Games Played,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,51,137,37.2,15,57,26.3,...,29.0,us,"October 7, 1986",University of Connecticut,5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,344,817,42.1,121,313,38.7,...,30.0,us,"January 14, 1985",University of Oregon,6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,93,208,44.7,13,48,27.1,...,20.0,us,"September 16, 1995",University of Arizona,R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,740,213,91,220,41.4,1,9,11.1,...,24.0,us,"February 19, 1991",Michigan State University,R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,519,965,53.8,11,36,30.6,...,29.0,do,"June 3, 1986",University of Florida,7,205.0,C,ATL,110.25,26.234384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,Xavier Henry,9,86,20,3,13,23.1,0,0,0.0,...,24.0,be,"March 15, 1991",University of Kansas,4,195.0,SF,LAL,99.00,26.035503
486,Zach LaVine,77,1902,778,286,677,42.2,57,167,34.1,...,20.0,us,"March 10, 1995","University of California, Los Angeles",R,192.5,PG,MIN,85.05,22.951594
487,Zach Randolph,71,2304,1143,454,932,48.7,7,20,35.0,...,34.0,us,"July 16, 1981",Michigan State University,13,202.5,PF,MEM,117.00,28.532236
488,Zaza Pachulia,73,1730,606,240,529,45.4,0,3,0.0,...,31.0,ge,"February 10, 1984",NaN,11,207.5,C,MIL,121.50,28.218900
489,Zoran Dragic,16,75,28,11,30,36.7,3,14,21.4,...,26.0,si,"June 22, 1989",NaN,R,192.5,SG,PHO,90.00,24.287401

In [241]:
df.drop(["Birth_Place","Collage"],axis=1,inplace=True)

In [242]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490 entries, 0 to 489
Data columns (total 32 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          490 non-null    object
 1   Games Played  490 non-null    int64
 2   MIN           490 non-null    int64
 3   PTS           490 non-null    int64
 4   FGM           490 non-null    int64
 5   FGA           490 non-null    int64
 6   FG%           490 non-null    float64
 7   3PM           490 non-null    int64
 8   3PA           490 non-null    int64
 9   3P%           490 non-null    float64
 10  FTM           490 non-null    int64
 11  FTA           490 non-null    int64
 12  FT%           490 non-null    float64
 13  OREB          490 non-null    int64
 14  DREB          490 non-null    int64
 15  REB           490 non-null    int64
 16  AST           490 non-null    int64
 17  STL           490 non-null    int64
 18  BLK           490 non-null    int64
 19  TOV           490 non-null    int64
 20  PF            490 non-null    int64
 21  EFF           490 non-null    int64
 22  AST/TOV       490 non-null    float64
 23  STL/TOV       490 non-null    float64
 24  Age           422 non-null    float64
 25  Birthdate     422 non-null    object
 26  Experience    422 non-null    object
 27  Height        422 non-null    float64
 28  Pos           422 non-null    object
 29  Team          422 non-null    object
 30  Weight        422 non-null    float64
 31  BMI           422 non-null    float64
dtypes: float64(9), int64(18), object(5)
memory usage: 122.6+ KB

In [243]:
df.drop(["FGM","FGA","FG%","FTM","FTA","3PM","3PA","TOV","PF","EFF","AST/TOV","STL/TOV","OREB","DREB"],axis=1,inplace=True)

In [244]:
df

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Birthdate,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,26.3,66.7,32,46,7,0,29.0,"October 7, 1986",5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,38.7,83.3,166,261,54,15,30.0,"January 14, 1985",6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,27.1,72.1,169,33,21,22,20.0,"September 16, 1995",R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,740,213,11.1,65.2,162,30,19,9,24.0,"February 19, 1991",R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,30.6,75.9,544,244,68,98,29.0,"June 3, 1986",7,205.0,C,ATL,110.25,26.234384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,Xavier Henry,9,86,20,0.0,58.3,4,3,3,0,24.0,"March 15, 1991",4,195.0,SF,LAL,99.00,26.035503
486,Zach LaVine,77,1902,778,34.1,84.2,214,276,54,10,20.0,"March 10, 1995",R,192.5,PG,MIN,85.05,22.951594
487,Zach Randolph,71,2304,1143,35.0,76.5,747,153,69,14,34.0,"July 16, 1981",13,202.5,PF,MEM,117.00,28.532236
488,Zaza Pachulia,73,1730,606,0.0,78.8,500,178,80,21,31.0,"February 10, 1984",11,207.5,C,MIL,121.50,28.218900
489,Zoran Dragic,16,75,28,21.4,60.0,8,5,2,0,26.0,"June 22, 1989",R,192.5,SG,PHO,90.00,24.287401

In [245]:
df.fillna(value="?")

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Birthdate,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,26.3,66.7,32,46,7,0,29.0,"October 7, 1986",5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,38.7,83.3,166,261,54,15,30.0,"January 14, 1985",6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,27.1,72.1,169,33,21,22,20.0,"September 16, 1995",R,202.5,PF,ORL,99.0,24.142661
3,Adreian Payne,32,740,213,11.1,65.2,162,30,19,9,24.0,"February 19, 1991",R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,30.6,75.9,544,244,68,98,29.0,"June 3, 1986",7,205.0,C,ATL,110.25,26.234384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,Xavier Henry,9,86,20,0.0,58.3,4,3,3,0,24.0,"March 15, 1991",4,195.0,SF,LAL,99.0,26.035503
486,Zach LaVine,77,1902,778,34.1,84.2,214,276,54,10,20.0,"March 10, 1995",R,192.5,PG,MIN,85.05,22.951594
487,Zach Randolph,71,2304,1143,35.0,76.5,747,153,69,14,34.0,"July 16, 1981",13,202.5,PF,MEM,117.0,28.532236
488,Zaza Pachulia,73,1730,606,0.0,78.8,500,178,80,21,31.0,"February 10, 1984",11,207.5,C,MIL,121.5,28.2189
489,Zoran Dragic,16,75,28,21.4,60.0,8,5,2,0,26.0,"June 22, 1989",R,192.5,SG,PHO,90.0,24.287401

In [246]:
df["Experience"].str.contains("R")

0      False
1      False
2       True
3       True
4      False
       ...
485    False
486     True
487    False
488    False
489     True
Name: Experience, Length: 490, dtype: object

In [247]:
df.drop("Birthdate",axis=1,inplace=True)

In [248]:
df

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,26.3,66.7,32,46,7,0,29.0,5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,38.7,83.3,166,261,54,15,30.0,6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,27.1,72.1,169,33,21,22,20.0,R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,740,213,11.1,65.2,162,30,19,9,24.0,R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,30.6,75.9,544,244,68,98,29.0,7,205.0,C,ATL,110.25,26.234384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,Xavier Henry,9,86,20,0.0,58.3,4,3,3,0,24.0,4,195.0,SF,LAL,99.00,26.035503
486,Zach LaVine,77,1902,778,34.1,84.2,214,276,54,10,20.0,R,192.5,PG,MIN,85.05,22.951594
487,Zach Randolph,71,2304,1143,35.0,76.5,747,153,69,14,34.0,13,202.5,PF,MEM,117.00,28.532236
488,Zaza Pachulia,73,1730,606,0.0,78.8,500,178,80,21,31.0,11,207.5,C,MIL,121.50,28.218900
489,Zoran Dragic,16,75,28,21.4,60.0,8,5,2,0,26.0,R,192.5,SG,PHO,90.00,24.287401

In [249]:
df.sort_values("Age")

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Experience,Height,Pos,Team,Weight,BMI
486,Zach LaVine,77,1902,778,34.1,84.2,214,276,54,10,20.0,R,192.5,PG,MIN,85.05,22.951594
2,Aaron Gordon,47,797,243,27.1,72.1,169,33,21,22,20.0,R,202.5,PF,ORL,99.00,24.142661
97,Dante Exum,82,1817,393,31.4,62.5,131,198,41,14,20.0,R,195.0,PG,UTA,85.50,22.485207
360,Noah Vonleh,25,259,83,38.5,69.2,86,4,4,9,20.0,R,205.0,PF,CHA,108.00,25.698989
57,Bruno Caboclo,8,23,10,66.7,0.0,2,0,0,1,20.0,R,202.5,SF,TOR,98.10,23.923182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,Tony Wroten,30,895,507,26.1,66.7,86,157,48,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,Travis Wear,51,672,199,36.7,76.9,106,40,15,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,Tristan Thompson,82,2194,693,0.0,64.1,657,39,34,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,Tyler Zeller,82,1731,833,0.0,82.3,465,113,18,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470,Tyrus Thomas,2,7,4,0.0,100.0,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [250]:
df.dropna(inplace=True)

In [251]:
df.sort_values("Age")

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Experience,Height,Pos,Team,Weight,BMI
486,Zach LaVine,77,1902,778,34.1,84.2,214,276,54,10,20.0,R,192.5,PG,MIN,85.05,22.951594
2,Aaron Gordon,47,797,243,27.1,72.1,169,33,21,22,20.0,R,202.5,PF,ORL,99.00,24.142661
97,Dante Exum,82,1817,393,31.4,62.5,131,198,41,14,20.0,R,195.0,PG,UTA,85.50,22.485207
360,Noah Vonleh,25,259,83,38.5,69.2,86,4,4,9,20.0,R,205.0,PF,CHA,108.00,25.698989
57,Bruno Caboclo,8,23,10,66.7,0.0,2,0,0,1,20.0,R,202.5,SF,TOR,98.10,23.923182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,Vince Carter,66,1091,384,29.7,78.9,133,79,43,14,38.0,16,195.0,SG,MEM,99.00,26.035503
367,Pablo Prigioni,67,1197,274,34.3,85.4,119,171,79,1,38.0,2,187.5,PG,NYK,83.25,23.680000
21,Andre Miller,81,1253,355,20.6,75.3,153,284,32,6,39.0,15,187.5,PG,WAS,90.00,25.600000
446,Tim Duncan,77,2227,1070,28.6,74.0,704,230,63,151,39.0,17,207.5,C,SAS,112.50,26.128611
274,Kevin Garnett,47,952,323,14.3,80.0,311,77,46,17,39.0,19,207.5,PF,MIN,108.00,25.083466

In [252]:
df.reset_index(drop=True)

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Experience,Height,Pos,Team,Weight,BMI
0,AJ Price,26,324,133,26.3,66.7,32,46,7,0,29.0,5,185.0,PG,PHO,81.45,23.798393
1,Aaron Brooks,82,1885,954,38.7,83.3,166,261,54,15,30.0,6,180.0,PG,CHI,72.45,22.361111
2,Aaron Gordon,47,797,243,27.1,72.1,169,33,21,22,20.0,R,202.5,PF,ORL,99.00,24.142661
3,Adreian Payne,32,740,213,11.1,65.2,162,30,19,9,24.0,R,205.0,PF,ATL,106.65,25.377751
4,Al Horford,76,2318,1156,30.6,75.9,544,244,68,98,29.0,7,205.0,C,ATL,110.25,26.234384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,Xavier Henry,9,86,20,0.0,58.3,4,3,3,0,24.0,4,195.0,SF,LAL,99.00,26.035503
418,Zach LaVine,77,1902,778,34.1,84.2,214,276,54,10,20.0,R,192.5,PG,MIN,85.05,22.951594
419,Zach Randolph,71,2304,1143,35.0,76.5,747,153,69,14,34.0,13,202.5,PF,MEM,117.00,28.532236
420,Zaza Pachulia,73,1730,606,0.0,78.8,500,178,80,21,31.0,11,207.5,C,MIL,121.50,28.218900
421,Zoran Dragic,16,75,28,21.4,60.0,8,5,2,0,26.0,R,192.5,SG,PHO,90.00,24.287401

In [253]:
df[df["3P%"]>=50]

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Experience,Height,Pos,Team,Weight,BMI
57,Bruno Caboclo,8,23,10,66.7,0.0,2,0,0,1,20.0,R,202.5,SF,TOR,98.10,23.923182
103,David Stockton,3,33,8,50.0,50.0,2,9,2,0,24.0,R,177.5,PG,SAC,74.25,23.566753
128,Dwight Buycks,6,123,52,63.6,90.0,12,14,3,0,26.0,1,187.5,PG,LAL,85.50,24.320000
129,Dwight Howard,41,1223,646,50.0,52.8,431,50,28,53,30.0,10,207.5,C,HOU,119.25,27.696327
132,Earl Barron,16,143,32,50.0,50.0,28,5,4,2,34.0,7,210.0,C,PHO,112.50,25.510204
190,Jamaal Franklin,3,13,3,50.0,0.0,2,3,0,1,24.0,1,192.5,SG,DEN,85.95,23.194468
219,Jerel McNeal,6,36,9,50.0,100.0,3,2,3,1,28.0,R,187.5,PG,PHO,90.00,25.600000
295,Landry Fields,26,216,46,50.0,83.3,26,15,11,0,27.0,4,197.5,SF,TOR,94.50,24.226887
302,Lester Hudson,5,56,18,50.0,75.0,8,5,6,1,31.0,3,187.5,SG,LAC,85.50,24.320000
309,Luke Babbitt,63,830,256,51.3,68.4,111,24,17,11,26.0,4,202.5,SF,NOH,101.25,24.691358
474,Victor Claver,10,76,24,54.5,0.0,20,1,1,1,27.0,2,202.5,SF,POR,100.80,24.581619

In [254]:
df.sort_values("PTS",ascending=False,inplace=True)

In [255]:
df.reset_index(drop=True)

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Experience,Height,Pos,Team,Weight,BMI
0,James Harden,81,2981,2217,37.5,86.8,459,565,154,60,26.0,5,192.5,SG,HOU,99.00,26.716141
1,Stephen Curry,80,2613,1900,44.3,91.4,341,619,163,16,27.0,5,187.5,PG,GSW,85.50,24.320000
2,LeBron James,69,2493,1743,35.4,71.0,416,511,109,49,31.0,11,200.0,SF,CLE,112.50,28.125000
3,Damian Lillard,82,2925,1720,34.3,86.4,378,507,97,21,25.0,2,187.5,PG,POR,87.75,24.960000
4,Klay Thompson,77,2455,1668,43.9,87.9,247,222,87,60,25.0,3,197.5,SG,GSW,96.75,24.803717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,Sim Bhullar,3,3,2,0.0,0.0,1,1,0,1,23.0,R,222.5,C,SAC,162.00,32.723141
418,Julius Randle,1,14,2,0.0,0.0,0,0,0,0,21.0,R,202.5,PF,LAL,112.50,27.434842
419,Kalin Lucas,1,6,0,0.0,0.0,0,0,1,0,26.0,R,182.5,PG,MEM,87.75,26.346406
420,Jerrelle Benimon,2,3,0,0.0,0.0,3,0,0,0,24.0,R,200.0,PF,UTA,110.25,27.562500
421,Seth Curry,2,8,0,0.0,0.0,2,1,0,0,25.0,1,185.0,PG,PHO,83.25,24.324324

In [256]:
df[df["PTS"]>=1000]

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Experience,Height,Pos,Team,Weight,BMI
194,James Harden,81,2981,2217,37.5,86.8,459,565,154,60,26.0,5,192.5,SG,HOU,99.00,26.716141
433,Stephen Curry,80,2613,1900,44.3,91.4,341,619,163,16,27.0,5,187.5,PG,GSW,85.50,24.320000
301,LeBron James,69,2493,1743,35.4,71.0,416,511,109,49,31.0,11,200.0,SF,CLE,112.50,28.125000
91,Damian Lillard,82,2925,1720,34.3,86.4,378,507,97,21,25.0,2,187.5,PG,POR,87.75,24.960000
281,Klay Thompson,77,2455,1668,43.9,87.9,247,222,87,60,25.0,3,197.5,SG,GSW,96.75,24.803717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,Arron Afflalo,78,2502,1035,35.4,84.3,247,129,41,7,30.0,7,192.5,SG,POR,94.50,25.501771
159,Giannis Antetokounmpo,81,2541,1030,15.9,74.1,542,207,73,85,21.0,1,207.5,SG,MIL,99.90,23.202206
191,Jamal Crawford,64,1703,1010,32.7,90.1,124,158,59,14,35.0,14,192.5,SG,LAC,90.00,24.287401
311,Luol Deng,72,2421,1007,35.5,76.1,376,139,65,22,30.0,10,202.5,SF,MIA,99.00,24.142661
315,Marcin Gortat,82,2453,1001,0.0,70.3,717,97,49,110,31.0,7,207.5,C,WAS,108.00,25.083466

In [260]:
df = df[df["PTS"].apply(lambda x:x>=1000)]

In [261]:
df

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Experience,Height,Pos,Team,Weight,BMI
194,James Harden,81,2981,2217,37.5,86.8,459,565,154,60,26.0,5,192.5,SG,HOU,99.00,26.716141
433,Stephen Curry,80,2613,1900,44.3,91.4,341,619,163,16,27.0,5,187.5,PG,GSW,85.50,24.320000
301,LeBron James,69,2493,1743,35.4,71.0,416,511,109,49,31.0,11,200.0,SF,CLE,112.50,28.125000
91,Damian Lillard,82,2925,1720,34.3,86.4,378,507,97,21,25.0,2,187.5,PG,POR,87.75,24.960000
281,Klay Thompson,77,2455,1668,43.9,87.9,247,222,87,60,25.0,3,197.5,SG,GSW,96.75,24.803717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,Arron Afflalo,78,2502,1035,35.4,84.3,247,129,41,7,30.0,7,192.5,SG,POR,94.50,25.501771
159,Giannis Antetokounmpo,81,2541,1030,15.9,74.1,542,207,73,85,21.0,1,207.5,SG,MIL,99.90,23.202206
191,Jamal Crawford,64,1703,1010,32.7,90.1,124,158,59,14,35.0,14,192.5,SG,LAC,90.00,24.287401
311,Luol Deng,72,2421,1007,35.5,76.1,376,139,65,22,30.0,10,202.5,SF,MIA,99.00,24.142661
315,Marcin Gortat,82,2453,1001,0.0,70.3,717,97,49,110,31.0,7,207.5,C,WAS,108.00,25.083466

In [262]:
pd.set_option('display.max_rows', None)

In [264]:
df.reset_index(drop=True)

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Experience,Height,Pos,Team,Weight,BMI
0,James Harden,81,2981,2217,37.5,86.8,459,565,154,60,26.0,5,192.5,SG,HOU,99.00,26.716141
1,Stephen Curry,80,2613,1900,44.3,91.4,341,619,163,16,27.0,5,187.5,PG,GSW,85.50,24.320000
2,LeBron James,69,2493,1743,35.4,71.0,416,511,109,49,31.0,11,200.0,SF,CLE,112.50,28.125000
3,Damian Lillard,82,2925,1720,34.3,86.4,378,507,97,21,25.0,2,187.5,PG,POR,87.75,24.960000
4,Klay Thompson,77,2455,1668,43.9,87.9,247,222,87,60,25.0,3,197.5,SG,GSW,96.75,24.803717
5,LaMarcus Aldridge,71,2512,1661,35.2,84.5,726,124,48,68,30.0,8,207.5,PF,POR,117.00,27.173755
6,Anthony Davis,68,2455,1656,8.3,80.5,696,149,100,200,22.0,2,205.0,PF,NOH,113.85,27.091017
7,Kyrie Irving,75,2730,1628,41.5,86.3,237,389,114,20,23.0,3,187.5,PG,CLE,86.85,24.704000
8,Chris Paul,82,2857,1564,39.8,90.0,376,838,156,15,30.0,9,180.0,PG,LAC,78.75,24.305556
9,Monta Ellis,80,2699,1513,28.5,75.2,190,329,148,25,30.0,9,187.5,SG,DAL,83.25,23.680000
10,Blake Griffin,67,2356,1469,40.0,72.8,508,354,63,35,26.0,4,205.0,PF,LAC,112.95,26.876859
11,Gordon Hayward,76,2618,1463,36.4,81.2,373,313,108,30,25.0,4,200.0,SF,UTA,101.70,25.425000
12,Pau Gasol,78,2681,1446,46.2,80.3,919,210,25,147,35.0,13,210.0,PF,CHI,112.50,25.510204
13,Rudy Gay,68,2408,1432,35.9,85.8,399,250,71,41,29.0,8,200.0,SF,SAC,103.50,25.875000
14,Nikola Vucevic,74,2529,1428,33.3,75.2,810,147,54,54,25.0,3,210.0,C,ORL,117.00,26.530612
15,DeMarcus Cousins,59,2013,1421,25.0,78.2,747,210,90,103,25.0,4,207.5,C,SAC,121.50,28.218900
16,Marc Gasol,81,2687,1413,17.6,79.5,630,307,70,131,30.0,6,212.5,C,MEM,114.75,25.411765
17,Eric Bledsoe,81,2800,1377,32.4,80.0,423,493,127,45,26.0,4,182.5,PG,PHO,85.50,25.670858
18,Dirk Nowitzki,77,2282,1333,38.0,88.2,457,143,39,33,37.0,16,210.0,PF,DAL,110.25,25.000000
19,Tyreke Evans,79,2690,1313,30.4,69.4,416,521,100,37,26.0,5,195.0,SG,NOH,99.00,26.035503
20,Jimmy Butler,65,2513,1301,37.8,83.4,379,212,114,36,26.0,3,197.5,SG,CHI,99.00,25.380548
21,Victor Oladipo,72,2573,1292,33.9,81.9,302,295,120,19,23.0,1,190.0,SG,ORL,94.50,26.177285
22,JJ Redick,78,2409,1277,43.7,90.1,167,137,39,8,31.0,8,190.0,SG,LAC,85.50,23.684211
23,Goran Dragic,78,2640,1275,34.7,77.4,274,350,78,15,29.0,6,187.5,SG,PHO,85.50,24.320000
24,Markieff Morris,82,2581,1258,31.8,76.3,506,192,101,39,26.0,3,205.0,PF,PHO,110.25,26.234384
25,Kyle Lowry,70,2414,1244,33.8,80.8,328,473,109,13,29.0,8,182.5,PG,TOR,88.20,26.481516
26,Lou Williams,80,2016,1242,34.0,86.1,151,164,88,10,29.0,9,182.5,SG,TOR,78.75,23.644211
27,Brook Lopez,72,2100,1236,10.0,81.4,535,50,43,126,27.0,6,210.0,C,NJN,123.75,28.061224
28,Kevin Love,75,2532,1228,36.7,80.4,731,168,51,39,27.0,6,205.0,PF,CLE,112.95,26.876859
29,Paul Millsap,73,2390,1218,35.6,75.7,570,223,130,69,30.0,8,200.0,PF,ATL,110.70,27.675000
30,DeMar DeRozan,60,2100,1204,28.4,83.2,277,210,73,11,26.0,5,197.5,SG,TOR,99.45,25.495914
31,Derrick Favors,74,2280,1187,16.7,66.9,607,112,60,123,24.0,4,205.0,PF,UTA,119.25,28.375967
32,Jeff Green,78,2455,1168,33.2,83.3,328,134,53,34,29.0,6,202.5,SF,MEM,105.75,25.788752
33,Tobias Harris,68,2369,1164,36.4,78.8,430,124,69,36,23.0,3,202.5,SF,ORL,105.75,25.788752
34,Enes Kanter,75,2136,1163,35.6,78.2,671,55,36,29,23.0,3,207.5,C,OKC,110.25,25.606039
35,Jeff Teague,73,2228,1162,34.3,86.2,184,513,125,31,27.0,5,185.0,PG,ATL,83.70,24.455807
36,Al Horford,76,2318,1156,30.6,75.9,544,244,68,98,29.0,7,205.0,C,ATL,110.25,26.234384
37,Joe Johnson,80,2791,1154,35.9,80.1,384,292,59,14,34.0,13,197.5,SG,NJN,108.00,27.687871
38,Ty Lawson,75,2665,1143,34.1,73.0,234,720,92,9,28.0,5,177.5,PG,DEN,87.75,27.851617
39,Zach Randolph,71,2304,1143,35.0,76.5,747,153,69,14,34.0,13,202.5,PF,MEM,117.00,28.532236
40,Andre Drummond,82,2502,1130,0.0,38.9,1104,55,73,153,22.0,2,207.5,C,DET,125.55,29.159530
41,Reggie Jackson,77,2268,1117,29.9,83.0,327,462,62,9,25.0,3,187.5,PG,OKC,93.60,26.624000
42,Mike Conley,70,2225,1107,38.6,85.9,209,375,89,14,28.0,7,182.5,PG,MEM,78.75,23.644211
43,Isaiah Thomas,67,1726,1101,37.3,86.8,153,284,57,5,26.0,3,172.5,PG,BOS,83.25,27.977316
44,Greg Monroe,69,2137,1098,0.0,75.0,704,142,78,34,25.0,4,207.5,PF,DET,119.25,27.696327
45,Wilson Chandler,78,2471,1085,34.2,77.5,475,134,58,29,28.0,7,200.0,SF,DEN,101.25,25.312500
46,Al Jefferson,65,1992,1082,40.0,65.5,548,113,47,84,30.0,10,205.0,C,CHA,130.05,30.945866
47,Kemba Walker,62,2119,1075,30.4,82.7,220,318,89,31,25.0,3,182.5,PG,CHA,77.40,23.238882
48,Avery Bradley,77,2428,1071,35.2,79.0,241,135,82,15,25.0,4,185.0,SG,BOS,81.00,23.666910
49,Brandon Knight,63,2035,1070,38.9,87.4,244,330,90,10,24.0,3,187.5,SG,PHO,85.05,24.192000
50,Tim Duncan,77,2227,1070,28.6,74.0,704,230,63,151,39.0,17,207.5,C,SAS,112.50,26.128611
51,Kawhi Leonard,64,2033,1057,34.9,80.2,461,161,148,48,24.0,3,197.5,SF,SAS,103.50,26.534209
52,Khris Middleton,79,2378,1055,40.7,85.9,347,182,122,11,24.0,2,200.0,SF,MIL,105.30,26.325000
53,Trevor Ariza,82,2930,1048,35.0,85.3,459,209,152,17,30.0,10,200.0,SF,HOU,96.75,24.187500
54,Kentavious Caldwell-Pope,82,2587,1043,34.5,69.6,255,109,93,18,22.0,1,192.5,SG,DET,92.25,24.894586
55,Chandler Parsons,66,2186,1037,38.0,72.0,323,161,69,19,27.0,3,205.0,SF,DAL,103.50,24.628197
56,Arron Afflalo,78,2502,1035,35.4,84.3,247,129,41,7,30.0,7,192.5,SG,POR,94.50,25.501771
57,Giannis Antetokounmpo,81,2541,1030,15.9,74.1,542,207,73,85,21.0,1,207.5,SG,MIL,99.90,23.202206
58,Jamal Crawford,64,1703,1010,32.7,90.1,124,158,59,14,35.0,14,192.5,SG,LAC,90.00,24.287401
59,Luol Deng,72,2421,1007,35.5,76.1,376,139,65,22,30.0,10,202.5,SF,MIA,99.00,24.142661
60,Marcin Gortat,82,2453,1001,0.0,70.3,717,97,49,110,31.0,7,207.5,C,WAS,108.00,25.083466

In [278]:
df[df["Name"].str.contains("James")]

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Experience,Height,Pos,Team,Weight,BMI
194,James Harden,81,2981,2217,37.5,86.8,459,565,154,60,26.0,5,192.5,SG,HOU,99.0,26.716141
301,LeBron James,69,2493,1743,35.4,71.0,416,511,109,49,31.0,11,200.0,SF,CLE,112.5,28.125000

In [284]:
df["Age"] = df["Age"].apply(np.str)

<ipython-input-284-ff0f4a146f0e>:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df["Age"] = df["Age"].apply(np.str)
<ipython-input-284-ff0f4a146f0e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age"] = df["Age"].apply(np.str)

In [287]:
df["Age"] = df["Age"].apply(lambda x:x.split(".")[0])

<ipython-input-287-b6de1bc391c1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age"] = df["Age"].apply(lambda x:x.split(".")[0])

In [288]:
df

,Name,Games Played,MIN,PTS,3P%,FT%,REB,AST,STL,BLK,Age,Experience,Height,Pos,Team,Weight,BMI
194,James Harden,81,2981,2217,37.5,86.8,459,565,154,60,26,5,192.5,SG,HOU,99.00,26.716141
433,Stephen Curry,80,2613,1900,44.3,91.4,341,619,163,16,27,5,187.5,PG,GSW,85.50,24.320000
301,LeBron James,69,2493,1743,35.4,71.0,416,511,109,49,31,11,200.0,SF,CLE,112.50,28.125000
91,Damian Lillard,82,2925,1720,34.3,86.4,378,507,97,21,25,2,187.5,PG,POR,87.75,24.960000
281,Klay Thompson,77,2455,1668,43.9,87.9,247,222,87,60,25,3,197.5,SG,GSW,96.75,24.803717
292,LaMarcus Aldridge,71,2512,1661,35.2,84.5,726,124,48,68,30,8,207.5,PF,POR,117.00,27.173755
29,Anthony Davis,68,2455,1656,8.3,80.5,696,149,100,200,22,2,205.0,PF,NOH,113.85,27.091017
291,Kyrie Irving,75,2730,1628,41.5,86.3,237,389,114,20,23,3,187.5,PG,CLE,86.85,24.704000
76,Chris Paul,82,2857,1564,39.8,90.0,376,838,156,15,30,9,180.0,PG,LAC,78.75,24.305556
345,Monta Ellis,80,2699,1513,28.5,75.2,190,329,148,25,30,9,187.5,SG,DAL,83.25,23.680000
44,Blake Griffin,67,2356,1469,40.0,72.8,508,354,63,35,26,4,205.0,PF,LAC,112.95,26.876859
165,Gordon Hayward,76,2618,1463,36.4,81.2,373,313,108,30,25,4,200.0,SF,UTA,101.70,25.425000
372,Pau Gasol,78,2681,1446,46.2,80.3,919,210,25,147,35,13,210.0,PF,CHI,112.50,25.510204
406,Rudy Gay,68,2408,1432,35.9,85.8,399,250,71,41,29,8,200.0,SF,SAC,103.50,25.875000
359,Nikola Vucevic,74,2529,1428,33.3,75.2,810,147,54,54,25,3,210.0,C,ORL,117.00,26.530612
109,DeMarcus Cousins,59,2013,1421,25.0,78.2,747,210,90,103,25,4,207.5,C,SAC,121.50,28.218900
314,Marc Gasol,81,2687,1413,17.6,79.5,630,307,70,131,30,6,212.5,C,MEM,114.75,25.411765
141,Eric Bledsoe,81,2800,1377,32.4,80.0,423,493,127,45,26,4,182.5,PG,PHO,85.50,25.670858
120,Dirk Nowitzki,77,2282,1333,38.0,88.2,457,143,39,33,37,16,210.0,PF,DAL,110.25,25.000000
469,Tyreke Evans,79,2690,1313,30.4,69.4,416,521,100,37,26,5,195.0,SG,NOH,99.00,26.035503
227,Jimmy Butler,65,2513,1301,37.8,83.4,379,212,114,36,26,3,197.5,SG,CHI,99.00,25.380548
475,Victor Oladipo,72,2573,1292,33.9,81.9,302,295,120,19,23,1,190.0,SG,ORL,94.50,26.177285
229,JJ Redick,78,2409,1277,43.7,90.1,167,137,39,8,31,8,190.0,SG,LAC,85.50,23.684211
164,Goran Dragic,78,2640,1275,34.7,77.4,274,350,78,15,29,6,187.5,SG,PHO,85.50,24.320000
322,Markieff Morris,82,2581,1258,31.8,76.3,506,192,101,39,26,3,205.0,PF,PHO,110.25,26.234384
288,Kyle Lowry,70,2414,1244,33.8,80.8,328,473,109,13,29,8,182.5,PG,TOR,88.20,26.481516
305,Lou Williams,80,2016,1242,34.0,86.1,151,164,88,10,29,9,182.5,SG,TOR,78.75,23.644211
56,Brook Lopez,72,2100,1236,10.0,81.4,535,50,43,126,27,6,210.0,C,NJN,123.75,28.061224
275,Kevin Love,75,2532,1228,36.7,80.4,731,168,51,39,27,6,205.0,PF,CLE,112.95,26.876859
374,Paul Millsap,73,2390,1218,35.6,75.7,570,223,130,69,30,8,200.0,PF,ATL,110.70,27.675000
108,DeMar DeRozan,60,2100,1204,28.4,83.2,277,210,73,11,26,5,197.5,SG,TOR,99.45,25.495914
113,Derrick Favors,74,2280,1187,16.7,66.9,607,112,60,123,24,4,205.0,PF,UTA,119.25,28.375967
214,Jeff Green,78,2455,1168,33.2,83.3,328,134,53,34,29,6,202.5,SF,MEM,105.75,25.788752
451,Tobias Harris,68,2369,1164,36.4,78.8,430,124,69,36,23,3,202.5,SF,ORL,105.75,25.788752
140,Enes Kanter,75,2136,1163,35.6,78.2,671,55,36,29,23,3,207.5,C,OKC,110.25,25.606039
215,Jeff Teague,73,2228,1162,34.3,86.2,184,513,125,31,27,5,185.0,PG,ATL,83.70,24.455807
4,Al Horford,76,2318,1156,30.6,75.9,544,244,68,98,29,7,205.0,C,ATL,110.25,26.234384
234,Joe Johnson,80,2791,1154,35.9,80.1,384,292,59,14,34,13,197.5,SG,NJN,108.00,27.687871
464,Ty Lawson,75,2665,1143,34.1,73.0,234,720,92,9,28,5,177.5,PG,DEN,87.75,27.851617
487,Zach Randolph,71,2304,1143,35.0,76.5,747,153,69,14,34,13,202.5,PF,MEM,117.00,28.532236
19,Andre Drummond,82,2502,1130,0.0,38.9,1104,55,73,153,22,2,207.5,C,DET,125.55,29.159530
392,Reggie Jackson,77,2268,1117,29.9,83.0,327,462,62,9,25,3,187.5,PG,OKC,93.60,26.624000
335,Mike Conley,70,2225,1107,38.6,85.9,209,375,89,14,28,7,182.5,PG,MEM,78.75,23.644211
182,Isaiah Thomas,67,1726,1101,37.3,86.8,153,284,57,5,26,3,172.5,PG,BOS,83.25,27.977316
168,Greg Monroe,69,2137,1098,0.0,75.0,704,142,78,34,25,4,207.5,PF,DET,119.25,27.696327
484,Wilson Chandler,78,2471,1085,34.2,77.5,475,134,58,29,28,7,200.0,SF,DEN,101.25,25.312500
5,Al Jefferson,65,1992,1082,40.0,65.5,548,113,47,84,30,10,205.0,C,CHA,130.05,30.945866
266,Kemba Walker,62,2119,1075,30.4,82.7,220,318,89,31,25,3,182.5,PG,CHA,77.40,23.238882
38,Avery Bradley,77,2428,1071,35.2,79.0,241,135,82,15,25,4,185.0,SG,BOS,81.00,23.666910
52,Brandon Knight,63,2035,1070,38.9,87.4,244,330,90,10,24,3,187.5,SG,PHO,85.05,24.192000
446,Tim Duncan,77,2227,1070,28.6,74.0,704,230,63,151,39,17,207.5,C,SAS,112.50,26.128611
264,Kawhi Leonard,64,2033,1057,34.9,80.2,461,161,148,48,24,3,197.5,SF,SAS,103.50,26.534209
278,Khris Middleton,79,2378,1055,40.7,85.9,347,182,122,11,24,2,200.0,SF,MIL,105.30,26.325000
459,Trevor Ariza,82,2930,1048,35.0,85.3,459,209,152,17,30,10,200.0,SF,HOU,96.75,24.187500
271,Kentavious Caldwell-Pope,82,2587,1043,34.5,69.6,255,109,93,18,22,1,192.5,SG,DET,92.25,24.894586
66,Chandler Parsons,66,2186,1037,38.0,72.0,323,161,69,19,27,3,205.0,SF,DAL,103.50,24.628197
35,Arron Afflalo,78,2502,1035,35.4,84.3,247,129,41,7,30,7,192.5,SG,POR,94.50,25.501771
159,Giannis Antetokounmpo,81,2541,1030,15.9,74.1,542,207,73,85,21,1,207.5,SG,MIL,99.90,23.202206
191,Jamal Crawford,64,1703,1010,32.7,90.1,124,158,59,14,35,14,192.5,SG,LAC,90.00,24.287401
311,Luol Deng,72,2421,1007,35.5,76.1,376,139,65,22,30,10,202.5,SF,MIA,99.00,24.142661
315,Marcin Gortat,82,2453,1001,0.0,70.3,717,97,49,110,31,7,207.5,C,WAS,108.00,25.083466

In [289]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 194 to 315
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          61 non-null     object
 1   Games Played  61 non-null     int64
 2   MIN           61 non-null     int64
 3   PTS           61 non-null     int64
 4   3P%           61 non-null     float64
 5   FT%           61 non-null     float64
 6   REB           61 non-null     int64
 7   AST           61 non-null     int64
 8   STL           61 non-null     int64
 9   BLK           61 non-null     int64
 10  Age           61 non-null     object
 11  Experience    61 non-null     object
 12  Height        61 non-null     float64
 13  Pos           61 non-null     object
 14  Team          61 non-null     object
 15  Weight        61 non-null     float64
 16  BMI           61 non-null     float64
dtypes: float64(5), int64(7), object(5)
memory usage: 8.6+ KB